/*********************************************/
                /* IMPORTS */
/*********************************************/


@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');




/*********************************************/
                /* VARIABLES */
/*********************************************/


:root {
  
  /* TYPOGRAPHY */

  /* Fonts */
  --spartan-font: 'Spartan', sans-serif;

  /* Font Weights */
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;

  /* Font Size */
  --body-copy: 15px;


  /* COLORS */

  /* Primary Colors*/
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Nuetral Colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* Breakpoints */
  --mobile: 375px;
  --desktop: 1440px;
}

/*********************************************/
                /* STYLES */
/*********************************************/


/* HTML */

html {
  font-family: var(--spartan-font);
  font-weight: var(--regular-font-weight);
  font-size: var(--body-copy);
  width: var(--mobile);
  margin: 0 auto;
  padding: 0;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

/* HEADER */

/* Desktop header on mobile devices should not be visible */
.desktop-header {
  display: none;
}



.header {
  margin-top: 5.333333rem;
  margin-bottom: 2.666667rem;
  width: 21.8rem;
  height: 14.666667rem;
  text-align: center;
}

/* header h1 */
.main-headline {
  font-weight: var(--bold-font-weight);
  font-size: 2.133333rem;
  line-height: 2.133333rem;
  letter-spacing: -0.076rem;
  color: var(--very-dark-magenta);
  margin-top: 0;
  margin-bottom: 1.2rem;
}

/* header p */
.header-copy {
  line-height: 1.666667rem;
  letter-spacing: -0.033333rem;
  color: var(--dark-grayish-magenta);
}


/* RATINGS SECTION */


/* Ratings Section Container */
.ratings-section {
  display: flex;
  flex-direction: column;
  width: 21.8rem;
  height: 17.733333rem;
  margin-bottom: 3.266667rem;
}

/* Rating Container */
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.8rem;
  height: 5.2rem;
  background-color: var(--light-grayish-magenta);
  border-radius: 0.35rem;
  margin-bottom: 1.066667rem;
}

/* Rating Content */
.content-div {
  /* width: 11.666667rem; */
  height: 3.066667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Stars Container */
.five-star-container {
  display: flex;
  justify-content: space-between;
  width: 7.8rem;
  height: 1.066667rem;
}

/* Star SVG */
.content-star-img {
  width: 1.103333;
  height: 1.051333rem;
}

/* Rating Copy */
.content-div-copy {
  color: var(--very-dark-magenta);
  text-align: center;
  font-size: 0.866667rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.970667rem;
  margin: 0;
}


/* REVIEWS SECTION */


/* Review Container */
.review {
  width: 21.8rem;
  height: 16.533333rem;
  background-color: var(--very-dark-magenta);
  color: var(--white);
  margin-bottom: 1.066667rem;
  border-radius: 0.35rem;
  display: flex;
  flex-direction: column;
}

/* Article Header */
.article-header {
  /* width: 10.666667rem; */
  /* height: 2.666667rem; */
  margin-top: 2.666667rem;
  margin-left: 2.133333rem;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
}

/* Article Header Image */
.article-header-img {
  height: 2.666667rem;
  width: 2.666667rem;
  border-radius: 50%;
}

/* Article Header Copy */
.article-header-copy {
  /* width: 6.466667rem; */
  /* height: 2.266667rem; */
  margin-left: 1.533333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Shared Styles For Article Header */
.article-header-name,
.verified-buyer,
.article-copy {
  font-size: 0.866667rem;
  font-style: normal;
}

/* Article Header Name */
.article-header-name {
  font-weight: var(--bold-font-weight);
  margin: 0;
  line-height: 0.970667rem;
}

/* Verified Buyer */
.verified-buyer {
  margin: 0;
  line-height: 0.970667rem;
  color: var(--soft-pink);
  font-weight: var(--regular-font-weight);
}

/* Article Copy Paragraph */
.article-copy {
  margin: 0rem 2.133333rem 2.133333rem 2.133333rem;
  font-weight: var(--medium-font-weight);
  line-height: 1.466667rem;
  letter-spacing: -0.0153333rem;
}



/*********************************************/
                /* DESKTOP */
/*********************************************/

@media screen and (min-width: 376px) {

  /* HTML */
  html {
    width: 100vw;
  }
  
  .mobile-header {
    display: none;
  }

  /* DESKTOP HEADER */
  .desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    height: 15.666667rem;
    margin-top: 8.466667rem;
    margin-bottom: 4.8rem;
  }

  /* Header Container*/
  .header {
    width: 29.666667rem;
    margin: 0;
    text-align: left;
  }

  /* Mheader h1 */
  .main-headline {
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.114rem;
    margin: 0;
  }

  /* header p */
  .header-copy {
    font-weight: var(--medium-font-weight);
    padding-top: 0.4rem;
    margin: 0; 
  }


  /* RATINGS SECTION */

  /* Rating Section Container */
  .ratings-section {
    width: 36rem;
    height: 13.333333rem;
    display: flex;
    align-self: flex-end;
    margin-left: 125px;
    margin-bottom: 0;
    position: relative;
  }


  /* REVIEWS SECTION */
  .reviews-section {
    display: flex;
  }

  /* Rating Container */
  .rating {
    width: 29.666667rem;
    height: 3.733333rem;
    position: relative;
  }

  /* Rating Content Container */
  .content-div {
    width: 29.666667rem;
    height: 3.733333rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* Stars Container */
  .five-star-container {
    width: 7.8rem;
    height: 1.066667rem;
  }


}


